@using Koh.Emulator.App.Services
@inject EmulatorHost EmulatorHost
@implements IDisposable

<div class="cpu-dashboard">
    @if (EmulatorHost.System is { } gb)
    {
        <h3>CPU</h3>
        <table>
            <tr><th>PC</th><td>@H16(gb.Registers.Pc)</td><th>SP</th><td>@H16(gb.Registers.Sp)</td></tr>
            <tr><th>A</th><td>@H8(gb.Registers.A)</td><th>F</th><td>@H8(gb.Registers.F)</td></tr>
            <tr><th>BC</th><td>@H16(gb.Registers.BC)</td><th>DE</th><td>@H16(gb.Registers.DE)</td></tr>
            <tr><th>HL</th><td>@H16(gb.Registers.HL)</td><th>Cycles</th><td>@gb.Cpu.TotalTCycles</td></tr>
        </table>
        <div class="flags">
            Z: @FlagDisplay(gb.Registers.FlagSet(Koh.Emulator.Core.Cpu.CpuRegisters.FlagZ))
            N: @FlagDisplay(gb.Registers.FlagSet(Koh.Emulator.Core.Cpu.CpuRegisters.FlagN))
            H: @FlagDisplay(gb.Registers.FlagSet(Koh.Emulator.Core.Cpu.CpuRegisters.FlagH))
            C: @FlagDisplay(gb.Registers.FlagSet(Koh.Emulator.Core.Cpu.CpuRegisters.FlagC))
        </div>
    }
    else
    {
        <p>No ROM loaded.</p>
    }
</div>

@code {
    protected override void OnInitialized()
    {
        EmulatorHost.StateChanged += OnStateChanged;
    }

    private void OnStateChanged() => InvokeAsync(StateHasChanged);

    public void Dispose() => EmulatorHost.StateChanged -= OnStateChanged;

    private static string H8(byte v) => "$" + v.ToString("X2");
    private static string H16(ushort v) => "$" + v.ToString("X4");
    private static string FlagDisplay(bool on) => on ? "1" : "0";
}
